### Question 1. 
>Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

>Examples

>show_the_love([4, 1, 4]) ➞ [3, 3, 3]

>show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

>show_the_love([2, 100]) ➞ [27, 75]

In [83]:
def show_the_love(l):
    import numpy as np
    r = [None]*len(l)
    l = np.array(l)
    small = np.min(l)
    small_index = np.argmin(l)
    for i in range(len(l)):
        if i != small_index:
            r[i] = l[i] * (3/4) 
            small += l[i] * (1/4)
        else:
            continue
    r[small_index] = small
            
    return list(r)

In [84]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [85]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [86]:
show_the_love([2, 100])

[27.0, 75.0]

### Question 2. 
>Create a function that takes in two words as input and returns a list of three elements, in the following order:

 >  1.Shared letters between two words.
  
  > 2.Letters unique to word 1.
   
   > 3.Letters unique to word 2.

>Each element should have unique letters, and have each letter be alphabetically sorted.

>Examples

>letters("sharp", "soap") ➞ ["aps", "hr", "o"]

>letters("board", "bored") ➞ ["bdor", "a", "e"]

>letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

>letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]

>\# Even with multiple matching letters (e.g. 3 f's), there should 

>\# only exist a single "f" in your first element.

>letters("match", "ham") ➞ ["ahm", "ct", ""]

>\# "ham" does not contain any letters that are not found already 

>\# in "match".

In [116]:
def letters(s1 , s2):
    c = ""
    first = ""
    second = ""
    set1 = list(set(s1)) 
    set2 =  list(set(s2))
    s = list(set(s1 + s2))
    for i in s:
        if (i in s1) and (i in s2):
            c += i
        elif i in s1:
            first += i
        elif i in s2:
            second += i
    return (c,first,second)

In [117]:
letters("sharp", "soap")

('aps', 'rh', 'o')

In [119]:
letters("board", "bored")

('obdr', 'a', 'e')

In [120]:
letters("happiness", "envelope")

('nep', 'iash', 'vlo')

In [122]:
letters("kerfuffle", "fluffy")

('ufl', 'ker', 'y')

In [118]:
letters("match", "ham")

('mah', 'ct', '')

### Question 3. 
>Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

>Examples

>pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

>pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

>pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

>pairs([]) ➞ []

In [146]:
def pairs(l):
    r = []
    k = int(len(l)/2)+1
    for i in range(k):
        if len(l)%2 != 0:
            r.append([l[i],l[len(l)-i-1]])
        elif len(l)%2 == 0:
            if i!= k-1:
                r.append([l[i],l[len(l)-i-1]])
    return r

In [147]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [148]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [149]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

### Question 4.
>Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

>Examples

>add_str_nums("4", "5") ➞ "9"

>add_str_nums("abcdefg", "3") ➞ "-1"

>add_str_nums("1", "") ➞ "1"

>add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [162]:
def add_str_nums(s1,s2):
    try:
        return str(int(s1) + int(s2))
    except ValueError as e:
        if len(s1)>0 and len(s2)>0:
            return str(-1)
        elif len(s1) > 0:
            return s1
        else:
            return s2

In [163]:
add_str_nums("4", "5")

'9'

In [164]:
add_str_nums("abcdefg", "3")

'-1'

In [165]:
add_str_nums("1", "")

'1'

In [166]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

'1874682736267235927391936562808774986'

### Question 5. 
>lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

>Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

>Examples

>unmix("123456") ➞ "214365"

>unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."

>unmix("badce") ➞ "abcde"